<div class="app-layout">
    <div class="n-site-header">
        {{Header}}
    </div>
    <div class="n-site-container">
        <div class="n-site-menu">
            {{Menu}}
        </div>
        <div class="n-site-body">
            {{Body}}
        </div>
    </div>
</div>